@{
    ViewData["Title"] = "Register";
}
<h1>Register</h1>

@model CoffeeShop.Models.PersonModel

<div class="background-image"></div>

<form asp-action="EnrollUser" asp-controller="Registration" method="post" class="control-label col-md-3">

    <div class="form-group"></div>
    @Html.LabelFor(m => m.Prefix, "Prefix", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-12">
        <label class="container">
            <select name="Gender">
                <option type="radio" value="Mr.">Mr.</option>
                <option type="radio" value="Mrs.">Mrs.</option>
                <option type="radio" value="Ms.">Ms.</option>
            </select>
        </label>
        @Html.ValidationMessageFor(m => m.Prefix, "", new { @class = "text-danger" })
    </div>
    
    <div class="col-12">
        First Name:
        <input type="text" name="FirstName" value="@Model.FirstName" placeholder="@Model.FirstName" class="col-12" />
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>

    <div class="col-12">
        Last Name:
        <input type="text" name="LastName" value="@Model.LastName" placeholder="@Model.LastName" class="col-12" />
        @Html.ValidationMessageFor(m => m.LastName)
    </div>

    <div class="col-12">
        Username:
        <input type="text" name="Username" value="@Model.Username" placeholder="@Model.Username" class="col-12" />
        @Html.ValidationMessageFor(m => m.Username)
    </div>

    <div class="col-12">
        Email:
        <input type="text" name="Email" value="@Model.Email" placeholder="@Model.Email" class="col-12" />
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div class="col-12">
        Confirm Email:
        <input type="text" name="ConfirmEmail" value="@Model.ConfirmEmail" placeholder="@Model.ConfirmEmail" class="col-12" />
        @Html.ValidationMessageFor(m => m.ConfirmEmail)
    </div>

    <div class="col-12">
        Password:
        <input type="text" name="Password" value="@Model.Password" placeholder="@Model.Password" class="col-12" />
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div class="col-12">
        Confirm Password:
        <input type="text" name="ConfirmPassword" value="@Model.ConfirmPassword" placeholder="@Model.ConfirmPassword" class="col-12" />
        @Html.ValidationMessageFor(m => m.ConfirmPassword)

    </div>

    <div class="col-12">
        Age:
        <input type="number" name="Age" value="@Model.Age" placeholder="@Model.Age" class="col-12" />
    </div>


    <input type="submit" value="submit" />
    <style>
        body {
            color: white;
            text-align: center;
            background-image: url('../../CoffeeBackground.jpg');
            background-size: cover;

        }
    </style>

</form>