
@{
    ViewData["Title"] = "User List";
}

<h1>User List</h1>
@model IEnumerable<CoffeeShop.Models.PersonModel>

<table class="table">
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Password</th>
        <th>Age</th>
 

    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.FirstName</td>
            <td>@user.LastName.</td>
            <td>@user.Username</td>
            <td>@user.Email</td>
            <td>@user.Password.</td>
            <td>@user.Age</td>

        </tr>
    }
    <tr>
        <td></td>
    </tr>
</table>